

    .cardSpace {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .overlay { grid-area: 1 / 1 / 2 / 2; 
           
         }


        .content { grid-area: 1 / 1 / 2 / 2;
             z-index: 0; 
        }  