@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --sky-background: #7ab7f0;
  }
}

.oceanBg {
  background: linear-gradient(
    0deg,
    rgba(0, 31, 40, 1) 0%,
    rgba(2, 89, 114, 1) 51%,
    rgba(0, 128, 165, 1) 100%
  );
}

.generalGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 0vh min-content 20vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.skyDiv {
  grid-area: 1 / 1 / 3 / 2;
  z-index: 1;
}
.waveDiv {
  grid-area: 2 / 1 / 3 / 2;
  z-index: 2;
}
.seaDiv {
  grid-area: 3 / 1 / 4 / 2;
  z-index: 2;
}
.footDiv {
  grid-area: 4 / 1 / 5 / 2;
  z-index: 3;
}
