@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {
    --sky-background: #7ab7f0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color:var(--sky-background);
  overflow-x: hidden;
  overflow-y: scroll;
}
.oceanBg{
  background: linear-gradient(0deg, rgba(0,31,40,1) 0%, rgba(2,89,114,1) 51%, rgba(0,128,165,1) 100%);  
}
.oceanTopLayer{
  z-index: 1;
  width: 100%;
  background-image: url('/seaBg2.png');  
  background-repeat: no-repeat;
  background-size: 100%;

}
.skyBanner{
    background-image: url('/skyMorning.png');
    background-repeat: no-repeat;
    background-size: 100%;
}



.generalGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 0vh min-content 20vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .skyDiv { grid-area: 1 / 1 / 3 / 2; z-index: 1 }
  .waveDiv { grid-area: 2 / 1 / 3 / 2; z-index: 2 }
  .seaDiv { grid-area: 3 / 1 / 4 / 2; z-index: 2}
  .footDiv { grid-area: 4 / 1 / 5 / 2;z-index: 3 } 

  .overlap{
    position:absolute;
    top:0;
    left:0;
  }

  .seaGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% min-content 30%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: linear-gradient(0deg, #001f28 0%, rgba(2,89,114,1) 51%, rgba(0,128,165,1) 100%);  

    }
    
    .topSea { grid-area: 1 / 1 / 2 / 2; 
    height: 15vh;}
    .middleSea { grid-area: 2 / 1 / 3 / 2; }
    .seaBed { grid-area: 3 / 1 / 4 / 2;
      background-image: url('/seaBg2.png');  
  background-repeat: no-repeat;
  background-size: cover;
   } 




   .coupledBubble{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5vw;
   }

   .decorBubble{
    background: #0e6e88;;
    border-radius: 100%;
    box-shadow:  inset 0 20px 30px rgba(255, 255, 255, 0.3);
    width: fit-content;
    min-height: auto;
    padding: 1rem;
    margin: 1rem;
   }
